@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  font-family: "Montserrat", sans-serif;
  color: #252b42;
  font-size: 14px;
  background: #FAFAFA;
}

a {
  color: inherit;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
}

.conteiner {
  max-width: 1057px;
  margin: 0px auto;
}

.text {
  font-weight: 500;
  font-size: 14px;
  line-height: 143%;
  letter-spacing: 0.2px;
  color: #737373;
}

.title {
  font-weight: bold;
  font-size: 40px;
  line-height: 142%;
  letter-spacing: 0.2px;
  text-align: center;
}

.subtitle {
  font-weight: 500;
  line-height: 143%;
  text-align: center;
  letter-spacing: 0.2px;
  color: #737373;
}

.column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
}

.column__item:not(:last-child) {
  margin-right: 30px;
}

.column-blue {
  background: #252b42;
  color: #ffffff;
}

/*------------------------------------*/
.header {
  position: absolute;
  width: 100%;
  left: 0px;
  top: 0px;
  z-index: 50;
}

.header__conteiner {
  min-height: 104px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  font-size: 24px;
  line-height: 133%;
  letter-spacing: 0.1px;
  color: #252b42;
  font-weight: 700;
  margin: 0px 130px 0px 0px;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__item {
  color: #737373;
  font-weight: 600;
  line-height: 171%;
  letter-spacing: 0.2px;
}

.menu__item a {
  color: #737373;
  margin: 0px 0px 0px 21px;
}

.first {
  position: relative;
}

.first__conteiner {
  padding: 184px 0px 191px 0px;
  position: relative;
  z-index: 2;
}

.first__title {
  font-weight: 800;
  font-size: 58px;
  line-height: 138%;
  letter-spacing: 0.2px;
  max-width: 474px;
  margin-bottom: 35px;
}

.first__text {
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0.2px;
  max-width: 376px;
  margin-bottom: 35px;
}

.first__image img {
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
}

.btn {
  font-weight: bold;
  font-size: 14px;
  line-height: 200%;
  letter-spacing: 0.2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn__first {
  color: #ffffff;
  background: #ff7b47;
  border-radius: 37px;
  padding: 10px 36px;
  margin-right: 10px;
}

.btn__two {
  color: #0d5c63;
  border: 1px solid #0d5c63;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 37px;
  padding: 10px 36px;
}

/* --------------------service--------------------------*/
.page__service {
  position: relative;
  z-index: 3;
  margin-top: -100px;
}

.service__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.column-service {
  background: #ffffff;
  -webkit-box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
          box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
  margin-right: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
}

.column-service:last-child {
  background: #0d5c63;
  color: white;
  margin-right: 0px;
}

.column-service:last-child .text {
  color: white;
  max-width: 211px;
}

.column-service__logo {
  margin-bottom: 10px;
}

.column-service__title {
  font-weight: bold;
  font-size: 24px;
  line-height: 133%;
  letter-spacing: 0.1px;
  margin-bottom: 10px;
}

.column-service__body {
  padding: 35px 40px;
  height: 100%;
}

/*-------------------expirience------------------------*/
.expirience {
  margin-top: 80px;
}

.content__header {
  margin-bottom: 50px;
}

.item-expirience {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
  background-color: #ffffff;
  padding: 30px;
}

.item-expirience__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 48px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-bottom: 12px;
}

.item-expirience__value {
  text-align: center;
  margin-bottom: 12px;
  font-weight: bold;
  font-size: 40px;
  line-height: 142%;
  letter-spacing: 0.2px;
}

.item-expirience__discription {
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  letter-spacing: 0.1px;
  color: #737373;
}

.advice__conteiner {
  margin-top: 205px;
  margin-bottom: 80px;
}

.advice__title {
  text-align: center;
  margin-bottom: 10px;
}

.advice__subtitle {
  margin-bottom: 45px;
}

.advice__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 25%;
          flex: 1 1 25%;
}

.item-advice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 35px;
  background-color: white;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.item-advice__body {
  padding: 30px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
}

.item-advice__title {
  margin-bottom: 15px;
  font-weight: bold;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.1px;
}

.item-advice__subtitle {
  text-align: left;
}

.whoweare {
  background: white;
  padding: 100px 0px 136px;
}

.whoweare__header {
  margin-bottom: 100px;
}

.whoweare__title {
  margin-bottom: 15px;
}

.column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.column__vi {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 57%;
          flex: 1 1 57%;
  margin-right: 121px;
  width: 100%;
  height: 100%;
}

.head__title {
  text-align: start;
}

.head__subtitle {
  text-align: start;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.content__title {
  text-align: left;
}

.content__subtitle {
  text-align: left;
}

.list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.list:not(:last-child) {
  margin-bottom: 30px;
}

.list__logo {
  margin-right: 20px;
}

.about__title {
  font-weight: bold;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.1px;
  margin-bottom: 5px;
}

.about__subtitle {
  text-align: left;
}

.subscribe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.subscribe__logo {
  margin-top: 50px;
  margin-bottom: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.subscribe__field {
  padding: 30px 40px 30px 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.subscribe__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  z-index: -999;
  bottom: -16.8px;
  width: 100%;
  height: 77px;
  background-color: #252b42;
}

.subscribe__content {
  background-color: #17213c;
  margin: 0px 32px 20px;
}

.field__text {
  color: white;
  font-weight: bold;
  font-size: 24px;
  line-height: 133%;
  letter-spacing: 0.1px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  padding: 3px;
}

.form__email {
  background: #f9f9f9;
  border: 1px solid #e6e6e6;
  border-radius: 5px 0px 0px 5px;
  width: 100%;
}

.form__btn {
  background: #ff7b47;
  border: 1px solid #e6e6e6;
  border-radius: 0px 5px 5px 0px;
  padding: 15px 22.5px;
  letter-spacing: 0.2px;
  color: #ffffff;
}

/*-----------------Touch-----------------------------------*/
.page__touch {
  padding: 80px 0px 148px;
  background: #F3F3F3;
}

.touch__conteiner {
  max-width: 985px;
}

.touch__header {
  margin-bottom: 80px;
}

.touch__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.column-touch__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 50px 40px;
  text-align: center;
  background-color: #ffffff;
}

.item-touch__logo {
  margin-bottom: 15px;
}

.item-touch__email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 15px;
  font-weight: 600;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.2px;
}

.item-touch__email a {
  color: #252b42;
}

.item-touch_support {
  margin-bottom: 15px;
  font-weight: bold;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.1px;
}

.item-touch__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.item-touch__btn a {
  padding: 10px 20px;
  border: 1px solid #ff7b47;
  border-radius: 5px;
  font-weight: 600;
  font-size: 14px;
  line-height: 142%;
  letter-spacing: 0.2px;
  color: #ff7b47;
}

.item-touch-blue {
  padding: 80px 53.5px;
  background: #252b42;
  color: #ffffff;
}

.item-touch-blue a {
  color: white;
}

.btn-blue a {
  border: 1px solid white;
}

/*---------------------consulting-------------------*/
.page__consulting {
  padding: 40px 0px;
  background: #fafafa;
}

.consulting__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.column-consulting__body {
  margin-right: 20px;
}

.column-consulting__btn {
  background: #ff7b47;
  border-radius: 5px;
  font-weight: bold;
  font-size: 14px;
  line-height: 200%;
  letter-spacing: 0.2px;
  color: #ffffff;
  padding: 15px 40px;
  margin-right: 38px;
}

.body-consulting__title {
  font-weight: bold;
  font-size: 24px;
  line-height: 133%;
  letter-spacing: 0.1px;
  margin-bottom: 10px;
}

.body-consulting__subtitle {
  font-weight: 500;
  font-size: 14px;
  line-height: 143%;
  letter-spacing: 0.2px;
  color: #737373;
}

/*----------------------FOOTER-----------------*/
.footer__materials {
  background: #17213c;
  color: white;
  padding: 50px 0px;
}

.materials__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.column-materials__body {
  margin-right: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 20%;
          flex: 1 1 20%;
}

.column-materials__body li {
  margin-bottom: 10px;
}

.body__title {
  font-weight: bold;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.1px;
  margin-bottom: 20px;
}

.body__link {
  font-weight: 600;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.2px;
}

.body__links {
  margin-right: 82px;
}

.links__adress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 600;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.2px;
  margin-bottom: 10px;
}

.links__adress img {
  margin-right: 10px;
}

/*----------------------AUTHOR-----------------*/
.footer__author {
  background: #FAFAFA;
  padding: 25px 0px;
}

.author__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.column-author__name {
  color: #737373;
  font-weight: 600;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.2px;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social li {
  margin-right: 20px;
}

.social li:last-child {
  margin-right: 40px;
}
